@font-face {
  font-family: "Google Sans Regular";
  src: url("../src/fonts/GoogleSans-Regular.ttf") format("TrueType");
}
@font-face {
  font-family: "Google Sans Medium";
  src: url("../src/fonts/GoogleSans-Medium.ttf") format("TrueType");
}
@font-face {
  font-family: "Google Sans Bold";
  src: url("../src/fonts/GoogleSans-Bold.ttf") format("TrueType");
}
@font-face {
  font-family: "Google Sans Bold";
  src: url("../src/fonts/Volkhov-Regular.ttf") format("TrueType");
}
@font-face {
  font-family: "Google Sans Bold";
  src: url("../src/fonts/Volkhov-Bold.ttf") format("TrueType");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
